@import 'open-props/style';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--stone-1);
}
.form-container {
  background-color: var(--gradient-23);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--stone-1);
    padding: 20px 60px;
    border-radius: var(--radius-3);
    .logo {
      color: var(--stone-8);
      font-weight: 700;
      font-size: 24px;
    }
    .title {
      color: var(--stone-8);
      font-weight: 300;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 20px;
        border: none;
        border-bottom: 1px solid var(--stone-8);
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--purple-10);
        font-size: 12px;
        cursor: pointer;
        img {
          width: 25px;
        }
      }
      button {
        background-color: var(--teal-4);
        color: var(--stone-1);
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }
    small {
      color: var(--purple-10);
    }
  }
}

// HOME PAGE
.home {
  background: var(--gradient-23);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid var(--stone-1);
    border-radius: var(--radius-2);
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;

    .sidebar {
      flex: 1;
      background-color: var(--indigo-4);
    }
    .chat {
      flex: 2;
    }
  }
}
